<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeticionServidor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C5958481C1363D70019FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C59585C1C1363D80019FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C5958671C1363D80019FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
